/* color background, font, size the whole page */


html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #C0C0C0;
  padding: 0;
  margin: 0;
}



/* header style */


header.primary {
background-color: #7e7d7d;
padding: 40px;


}

header.primary h1 {
  color: white; 
  text-align: center;
  text-shadow: #3f3f3f;
}
  
header.primary ul  {
  padding: 10px 0;
  display: flex;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header.primary ul li {
  list-style-type: none;
  

}

header.primary nav a {
  color: #fff;
  text-decoration: none;
  background-color: #C0C0C0(0, 0, 0, 0.4);
  padding: 7.5px 10px;
  border-radius: 20px;
  border: 1px solid #c0c0c0;;
  transition: 0.4s;

}




header.primary nav a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#blog img{
  float:left;
  margin: 15px 25px 15px 0;
  border:1px solid #ffffff;
  padding:5px;
  border-radius:25px;
  height: 300px;
  width: 150;
}
  
#blog{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2rem;
  border-bottom:2.5px dotted #c0c0c0;
  padding: 2rem 0;
  border-top:1px dotted #c0c0c0;
  flex-wrap:wrap;
}

table{
  border: 1px solid #ffffff;
  width: 100%;
  margin:20px 0;
  border-collapse:collapse;
}
caption{
  font-weight:bold;
  margin:10px;
}

th{
  background-color: #738aa1;
  color:#ffffff;
  padding:7.5px;
}
tr:nth-child(even){
background-color: rgba(162, 157, 185, 0.1);
}

td{
  border:2px solid #898da7;
  padding:4px;
}

.center-text{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}