/* color background, font, size the whole page */

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #D8BFD8;
  padding: auto;
}



/* header style */


header.primary {
  background-color: #be9ad4;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px #000000;
  /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

header.primary h1 {
  color: white; 
  text-align: center;
}
  
header.primary ul  {
  padding: 10px 0;
  display: flex;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header.primary ul li {
  list-style-type: none;
  

}

header.primary nav a {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 7.5px 10px;
  border-radius: 20px;
  transition: 0.4s;
}

SE

