/* ---------Box Sizing------------- */ 

html {
    box-sizing: border-box;
}
*, 
*:before, 
*:after {
    box-sizing: inherit;
}

/* --------- Responsive images ---------- */

img{
    max-width:100%;
}



/* --------- utility classes ---------- */

.container{
    max-width: 960px;
    width:80vw;
    margin: 40px auto;
}

.img-right{
    float: right;
    margin: 10px 0 10px 20px;
    border: 1px solid #c0c0c0;
    padding:5px;
    border-radius: 50px;
}

/* --------- global Style ---------- */

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin:0;
}

header.primary{
    background:#90b0db;
    color:#695c5c;
    text-align:center ;
    text-shadow: 2px 2px #000000;
    /*long form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

header.primary h1 {
    font-size: 2.4rem;
    margin: 20px 0;
    
}
header.primary h1 a {
    color: #ffffff;
    text-decoration: none;
   
}

header.primary h2 {
margin: 0;
font-size: 1.4rem;
}

header.primary nav {
max-width: 900px;
margin: auto ;
}


header.primary ul li {
    list-style-type: none;
}

header.primary nav a {
    color:aliceblue;
    text-decoration:none;
    background-color: #646161;
    background-color: rgba(0,0,0,.4);
    padding:5px 10px;
    border-radius:20px;
    border: 1px solid #ffffff;
    transition: 0.4s;

}

header.primary nav a:hover{
    background-color: rgba(0,0,0,.8);
    
}


@media screen and (max-widith: 600px) {
    header.primary ul {
        flex-direction: column;
        gap:20px;
        max-width: 250px;
        margin:auto;
    }
}

header.primary nav a{
    display: block;
}

#content {
    line-height:1.5;
}

#content h2 {
    color:#90b0db;
    border-bottom:1px dotted #695c5c;

}

#content h3{
    border-left:7.5px solid #90b0db;
    padding:7.5px; 
}

#blog{
display:flex;
flex-direction: row;
justify-content: space-around;
gap:2rem;
padding: 2rem 0;
border-top: 3rem #695c5c;

}

#blog .post{
    box-shadow: 0 8px 16px rgba(0,0,0,.6);
    padding:10px;
    border-radius: 4px;
    font-size: .8rem;
    transition:.5s;

}

#blog figure{
    background: #ffffff;
    margin: 0;
}

#blog figcaption{
    text-transform: uppercase;
    font-size:.6rem;
    text-align: center;
    color: #e7d1d1;
}

#blog header{
    background:#90b0db;
    padding-top: 10px;
    font-size:.6rem;
}

#blog header h2{
    margin: 0;

}

#blog .post:hover{
        box-shadow: 0 4px 16px rgba(0,0,0,.6);
        padding:10px;
        border-radius: 4px;
        font-size: .8rem;
}


#practice h2{
    color:#778394
    border-bottom: 1px solid #c0c0c0;
}

aside{
    background: #9fafc5;
    color:#ffffff
    padding 1.9rem;
}

aside .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

}

aside .container a {
    display: block;
    color: #ffffff;
    text-align: right;
    margin-top: 1rem;

}

aside .widget footer{
    display: none;
    
}

#colophon{
    background-color: aliceblue;
    text-align: center;
    padding: 10px;

}



body{
    background:rgb(124, 153, 206);
}