/* ---- CSS Demo ---- */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*  --------------- Responsive Images -----------------  */
  
  img{
    max-width:100%;
  }
  
  /*  --------------- Utility Classes -----------------  */
  
  .container{
    max-width: 950px;
    width:75vw;
    margin:45px auto;
  }

  
  .img-left{
    float:left;
    margin: 15px 25px 15px 0;
    border:1px solid #ffffff;
    padding:5px;
    border-radius:25px;
  }
  

  
  /*  --------------- Global Styles -----------------  */
  
  body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
  }
  
  header.primary {
    background-color: #001f3f;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px #000000;
    /*long form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
  
  header.primary h1 {
    font-size: 2.4rem;
    margin: 20px 0 0;
  }
  
  header.primary h1 a {
    color: #ffffff;
    text-decoration: none;
  }
  
  header.primary h2 {
    margin: 0;
    font-size: 1.4rem;
  }
  
  header.primary nav {
    max-width: 900px;
    margin: 20px auto;
  }
  
  header.primary ul {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  header.primary ul li {
    list-style-type: none;
  }
  
  header.primary nav a {
    color: #fff;
    text-decoration: none;
    background-color: rgba(106, 116, 143, 0.4);
    padding: 7.5px 10px;
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    transition: 0.4s;
  }
  
  header.primary nav a:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  #content{
  line-height:1.5;
  }
  
  #content h2{
   color: #ffffff;
   border-bottom:1px dotted #c0c0c0;
  }
  
  #content h3{
    border-left: 7.5px solid #3b638b;
    padding:7.5px;
  }
  
  #blog{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:2rem;
    border-bottom:2.5px dotted #c0c0c0;
    padding: 2rem 0;
    border-top:1px dotted #c0c0c0;
    flex-wrap:wrap;
  }
  
  #blog h2 {
    flex:0 0 100%;
    margin:0;
    text-align:center;
  }
  
  #blog .post{
    box-shadow: 0 4px 8px #ffffff;
    padding: 10px;
    border-radius:4px;
    font-size:.8rem;
    transition:.5s;
    flex:1;
  }
  
  #blog figure{
    margin:0;
  }
  
  #blog figcaption{
    text-transform:uppercase;
    font-size:.6rem;
    text-align:center;
    color:#ffffff;
  }
  
  #blog header{
    padding-top:10px;
    font-size:.6rem;
    color:#ffffff;
  }
  
  #blog header h2{
    margin:0;
  }
  
  #blog a{
    color:#ffffff;
  }
  
  #blog .post:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,.6);
  }
  
  #practice h2{
    color: #ffffff;
    border-bottom: 1px solid #96a8bd;
  }
  
  table{  
    border: 1px solid #ffffff;
    width: 100%;
    margin:20px 0;
    border-collapse:collapse;
  }
  caption{
    font-weight:bold;
    margin:10px;
  }
  
  th{
    background-color: #738aa1;
    color:#ffffff;
    padding:7.5px;
  }
  tr:nth-child(even){
  background-color: rgba(162, 157, 185, 0.1);
  }
  
  
  
  td{
    border:2px solid #898da7;
    padding:4px;
  }
  
  #practice ol{
    list-style-type: lower-latin ;
  }

  #practice ul ul {
    list-style-type: square;
  }

  dl dt {
    font-weight: bold italic;
  }
  
  dl dd{
    margin:0;
  }

  dd + dt{
    margin: 2rem;
  }

  #practice blockquote{
    border: 6px double #ffffff;
    padding: 20px 40px;
    margin: 40px 80px;
    border-radius: 30px 0;
    background-color: #c7c2e2;
    color: #13203b;
    line-height: 1;
  }

  #practice blockquote cite{
    display: block;
    text-align: right;
    font-size: .9rem;
    margin-top: 1rem;

  }

  aside[role="complementary"]{
    background-color: #708090;
    color:#ffffff;
    padding:2.5rem;
  }
  
  aside .container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:60px;
  }
  
  aside .container a{
      color:#ffffff;
  }
  
  aside .container a:last-of-type{
    display:block;
  
    text-align:right;
    margin-top: 1rem;
  }
  
  aside .widget footer{
    display:none;
  }
  
  #colophon{
    background-color: #333333;
    text-align:center;
    padding:10px;
    color:#ffffff;
    font-size:1.1rem;
  }
  
  
  @media screen and (max-width: 600px) {
    header.primary ul {
      flex-direction: column;
      gap:10px;
      max-width:250px;
      margin:auto;
    }
    header.primary nav a{
      display:block;
    }
  }
  
  body{
    background-color: #797c7e;
  }